<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact</title>
  <%- include('partials/head.html') %>
</head>

<body>
  <%- include('partials/navigation.html') %>

    <div class="container p-5">
      <div class="row">
        <div class="col-md-6">
          <img class="mt-3 animate__animated animate__rotateInDownLeft"
            src="https://images.unsplash.com/photo-1617875084318-c40d37b04c21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80"
            alt="">
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-dark text-white text-center">
              <h3>Contact Form</h3>
            </div>
            <div class="card-body">
              <form class="mt-0">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <textarea class="w-100 mt-2" name="form-control" id="text" cols="30" rows="10"
                    placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-secondary w-100">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <ul class="d-flex justify-content-center list-grou">
            <li> <i class="fab fa-twitter fa-5x"></i></li>
            <li class="ms-5"> <i class="fab fa-facebook fa-5x"></i></li>
            <li class="ms-5"> <i class="fab fa-linkedin-in fa-5x"></i></li>
            <li class="ms-5"> <i class="fab fa-github-alt fa-5x"></i></i></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- SECTION BOTTOM -->
    <%- include('partials/bottom.html') %>
      <!-- FOOTER -->
      <%- include('partials/footer.html') %>
        <!-- JS -->
        <%- include('partials/scripts.html') %>
</body>

</html>