<div class="container-fluid">
  <div class="row bg-dark text-white p-5 text-center">
    <div class="col-sm-6">
      <i class="fab fa-bitcoin fa-10x"></i>
    </div>
    <div class="col-sm-6">
      <h3>All information about cryptocurrencies</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem rem cupiditate earum reiciendis
        expedita, laborum iure illo provident incidunt reprehenderit odit nostrum mollitia id, aspernatur tempora
        vel quo dolorem blanditiis? Reiciendis eos doloremque tenetur qui. Labore praesentium culpa, atque numquam
        veniam ipsa ullam sunt enim ea illo deserunt, voluptate natus?</p>
    </div>
  </div>
</div>